<div class="jumbo">
  <div class="right tomster"></div>
  <h2>NOT FOUND PAGE</h2>
  <p>Please push the button for come back on a main page.</p>
  {{#link-to 'index' class="button"}}
    Home
  {{/link-to}}
</div>
