<h2><a href="http://ember-animation.github.io/liquid-fire/#/" target="_blank">Liquid Fire</a>: Animations & Transitions for Ember Apps</h2>
<p>
  Inspired by HTML & CSS from
  <a href="https://css3playground.com/3d-flip-cards/" target="_blank">
    https://css3playground.com/3d-flip-cards/
  </a>
</p>

<div class="panel">
  <div class="front">
    <h2>Mouse Over Me!</h2>
    <p>
      The effect on this box is done using 100% CSS.<br><br>
    </p>
  </div>
  <div class="back">
    <h2>check you on the flip side</h2>
  </div>
</div>
